body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #fff;
}
#top{
   width:100%;
   height: 40px;
   background:#808080;
   color:#fff;
   margin:0 auto;
}
#top p{
    margin:0 auto;
    padding-top:5px;
    margin-left: 20px;
}
#header{
    width: 1000px;
    height:100px;
    border-top:2px solid gray;
    margin-left:auto;
    margin-right:auto;
    background:#006666;
    margin-top:3px;
}
.navbar{
    width:1000px;
    height:45px;
    background:brown;
    margin-right:auto;
    margin-left:auto;
}
.post_body{
    float:left;
    /*clear:both;
    margin:0 auto;*/
    width:670px;
    height: auto;
    background:#fff;
    border-right:2px solid #708090;
    margin-left:175px;
}
#sidebar{
    width:300px;
    height:600px;
    background:gray;
    float:right;
    margin-right:174px;

}
.foot{
   width:100%;
   height:100px;
   background:black;
   clear:both;
}
#menu{
    width: 700px;
    float:left;
}
#search_box{
    width: 300px;
    float: right;
    line-height:45px; 
}
#menu ul{
    margin:0;
    padding-top:5px;
    line-height: 2em;
}
#menu ul li{
    list-style: none;
    display: inline;
    margin:5px;
    width: 60px;
}
#menu ul li a:link{
    color:#fff;
    margin:5px;
    padding:3px;
    text-decoration: none;
}
#menu ul li a:hover{
    color:#000;
    text-decoration: underline;
}
.post{
    width:600px;
    height:auto;
    background:#666666;
}
.post img{
    margin-left: 50px;
}
.content{
    font-size: 20px;
    color:#fff;
    font-family:sans-serif;
    line-height: 18px;
}