body{
    margin:0px;
    padding: 0px;
    background: #331a00;
}
#header{
    background:#398e91;
    width:100%;
    height: 130px;
    margin-top: -40px;
    padding: 0px;
    border-bottom: 7px solid #990000;
}
#header h3{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    padding-top: 30px;
    color:#fff;  
}
#header a{
    text-decoration: none;
}
aside{
    width: 200px;
    height:550px;
    text-align: center;
    background: #008040;
    float: left;
    color: #fff;
    border-right: 7px solid #990000;
}
aside p{
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
aside p a{
    text-decoration: none;
    color:#fff;
}
aside p a:hover{
    text-decoration: underline;
}
.admin_index{
    float: left;
    width: 1140px;
    height: 550px;
}
table{
    margin-top:70px;
    color:#fff;
}
